@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  background-color: #f3f5fc;
  flex-direction: column;
}

header {
  width: 180px;
  height: 92px;
  margin: 0px 0px 0px 40px;
}

.img__logo {
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.container {
  height: 944px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__entrada {
  height: 856px;
  width: 980px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 0px 50px 0px;
}

.container__entrada__texto {
  width: 680px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0a3871;
  background-color: #f3f5fc;
  border: none;
  margin-top: 80px;
  margin-left: 240px;
  margin-bottom: 481px;
}

.container__entrada__paragrafo {
  width: 252px;
  height: 18px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 8px 240px;
}

.container__entrada__botoes {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  height: 67px;
  margin-left: 240px;
}

.container__entrada__botoes__cripto {
  background-color: #0a3871;
  color: #ffffff;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  padding: 24px;
}

.container__entrada__botoes__decripto {
  background-color: #ffffff;
  color: #0a3871;
  width: 328px;
  height: 67px;
  border-radius: 24px;
}

.container__saida {
  width: 400px;
  height: 784px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  background-color: #ffffff;
  border-radius: 32px;
  margin: 40px 40px 40px 0px;
}

.container__saida__texto {
  width: 366px;
  height: 140px;
  color: #0a3871;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 150px;
}
.container__saida__imagem {
  height: 350px;
  width: 236px;
}

.container__saida__botao {
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #1875e8;
  color: #0a3871;
  width: 266px;
  height: 67px;
  margin: 0 0 0px 0;
}

button {
  font-size: 16px;
  border-radius: 24px;
  color: #0a3871;
}

footer {
  margin: 2%;
  height: 10%;
  color: black;
}

.fas fa-exclamation-circle {
  width: 16px;
  height: 16px;
}
